.post-actions {
  display: flex;
  justify-content: flex-start;
}

.post-actions button {
  appearance: none;
  background-color: unset;
  border: unset;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}

.post-actions button > svg{
margin-right:5px;
color:rgb(86, 120, 194);

}

.post-actions button:hover > svg{
  color: rgb(30, 89, 214);
}

.post-actions button:active > svg{
position: relative;
top: 1px;
}

.post-actions button:last-of-type {
  margin-left: auto;
}