.post {
  width: 400px;
  min-height: 400px;
  padding: 20px 30px;
  box-shadow: 0 0 4px 0 #00000047;
  border-radius: 10px; 
  box-sizing: border-box;
}

.post>.body>p {
  text-align: left;
  color: #444;
}

.post>.body>img {
  width: 340px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 20px;
}